* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  padding: 10px 25px; /* added */
}

img {
  display: block;
  max-width: 100%;
}

/* added */
input {
  width: 255px;
  margin-bottom: 10px;
}

.timer {
  display: flex;
  width: fit-content;
  gap: 5px;
}

.field {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.value {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.label {
  width: 70px;
  display: flex;
  justify-content: center;
}
